body{
    background:black;
}

.images{
    display: flex;
    border: 10px solid purple;
    justify-content: center;
    gap: 50px;
    
}

.playerImg{   
    border: 10px solid pink;

}

.compImg{
    border: 10px solid pink;
}

.buttons{
    display:flex;
}