body{
    background:black;
    overflow: hidden;
}

.images{
    display: flex;
    width: fit-content;
    margin: auto;
    gap: 50px;
    align-items: center;
    z-index: -2;
    
}



h1 { 
    text-align: center;
    color: white;
    margin: 2%;
    text-transform: uppercase;
    padding: 1px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    position: relative;
    background: linear-gradient(to right, black, #eee, black);
  }
  h1::before {
    content: "";
    position: absolute;
    left: 50%;
    top: -50px;
    width: 600px;
    margin-left: -300px;
    margin-top: -220px;
    height: 600px;
    background: radial-gradient(50% 50%, ellipse closest-side, #444, black);
    z-index: -2;
  }
  h1 a {
    background: black;
    display: block;
    padding: 20px;
    font-weight:300;
    text-decoration: none;
    letter-spacing: 30px;
    color: white;
  }

  .score{
    display: flex;
    justify-content: space-between;
    height: 10%
  }

.player{
    height:100px;
    width: 100px;
   border:  solid 4px transparent;
   box-shadow: 0 0 100px rgba(110, 255, 53, 0.349);
    border-radius: 50%;
    position: relative;
    transform: translateX(-50px);
    z-index: 1;  
    display: flex;
    justify-content: end;
    align-items: center;
}
.scorePlayer {
    color: white;
    font-size: 200%;
    position: relative;
    transform: translateX(-25px);
    font-family: 'Courier New', Courier, monospace;
}

.resultsUI{
    color: white;
    font-size: 200%;
    font-family: 'Courier New', Courier, monospace;
}

.scoreComputer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
    color: white;
    position: relative;
    transform: translateX(25px);
    
}

.computer{
    height:100px;
    width: 100px;
    border: red solid 4px;
    border-radius: 50%;
    border:  solid 4px transparent;
   box-shadow: 0 0 100px rgba(255, 53, 53, 0.589);
    transform: translateX(50px);
    z-index: 1;
    display: flex;
    justify-content: start;
    align-items: center;
}

  h2{
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding: 1px;
    font-family: 'Raleway', cursive;
    font-weight: 300;
    position: relative;
  
  }

.compImg{
    transform: scaleX(-1);
}

.buttonAll{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.buttons{
    display:flex;
    justify-content: center;
    margin: 4%;
    gap: 10px;
    transform: scale(1.5);
}

.buttons > button {
 padding: 0.6em 2em;
 outline: none;
 color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  transform: scale(0.8);
  font-family:'Courier New', Courier, monospace;
}

.buttons > button :hover {
    border: white solid 2px;
}

.startDiv {
    display: flex;
    justify-content: center;
    transform: scale(1.8);
    width: fit-content;
}

.start{
    padding: 0.6em 2em;
  /* border: white solid 2px; */
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  transform: scale(1.5);
  font-family:'Courier New', Courier, monospace;
}

.start:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingstart 20s linear infinite;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowingstart {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .start:active {
    color: #000;
  }
  
  .start:active:after {
    background: transparent;
  }
  
  .start:hover:before {
    opacity: 1;
  }
  
  .start:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #191919;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
